*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right; 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li {
    list-style: none;
    margin-left: 50px;

}

section{
    margin-top: 130px;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    border: 0;
    border-radius: 5px;
    height: 64px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
    color: #fff;
    background-color: #FD6E0A;

}

.banner{
 margin: 0 200px;   
 display: flex;
 align-items: center;
}

.banner--sub-title{
font-size:35px;
font-weight: 600;
}

.banner--title{
font-size: 60px;
font-weight: 700;
}

.banner--text{
font-weight: 400;
font-style: 13px;
margin-bottom: 30px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;

}
.about{
    margin-top: 130px;
    background-color:#FFF8F3;
    /* background-color: red; */
    border-radius: 10px;
    padding: 130px 150px;
    
}

.section--heading{
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    color: #181818;
    margin-bottom: 30px;
        }

.section--description{
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #757575;
margin-bottom: 30px;

}

.what-i-do{
}

.info--container{
display: flex;
align-items: center;
justify-content: space-between;
}

.info--tab{

}

.info--name{
color: #757575;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}

.info--description{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #474747;
}


.skills--container{
    display: flex;
    text-align: left;
    gap: 30px;
    
}

.skill{
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;

}

.skill img{

}

.skill--title{
    margin: 20px 0;
    font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #181818;
}

.skill-description{
    font-weight: 700;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;

    
}